* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #dce5ef, #eff5f9);
}


@import "tailwindcss";

@theme {
  --color-greyish: #EDEDED;
  --color-white: #FFFFFF;
  --color-greenish: #2D5F5D;
  --color-pinkish: #FFF0F3;
  --color-blueish: #E9E8FF;
  --color-darkblueish: #202B60;
  --color-grayish: #D9D9D9;
}

@layer components {
  .btn {
    @apply mt-5 w-[100px] h-[35px] cursor-pointer border-2 rounded-xl;
  }

  .btn-hover {
    @apply hover:shadow-2xl hover:bg-darkblueish hover:text-white duration-300 ease-out
  }

}





@tailwind utilities;
